<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><%= part.name %></td>
    <td><%= part.quantity %></td>
    <td><%= link_to 'Destroy Part', [part.car, part], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr>
</table>
